---
- name: Install SonarQube with PostgreSQL
  hosts: sonarqube_servers
  become: yes

  vars:
    db_name: sonarqube
    db_user: sonar
    db_password: sonarpassword
    sonar_version: 10.5.0.56789  # change to latest if needed

  tasks:

  - name: Update apt cache
    apt:
      update_cache: yes

  - name: Install Java, wget, unzip, and PostgreSQL
    apt:
      name:
        - openjdk-17-jdk
        - wget
        - unzip
        - postgresql
        - postgresql-contrib
      state: present

  - name: Ensure PostgreSQL service is running
    service:
      name: postgresql
      state: started
      enabled: yes

  - name: Create PostgreSQL user
    postgresql_user:
      name: "{{ db_user }}"
      password: "{{ db_password }}"
      state: present

  - name: Create PostgreSQL database
    postgresql_db:
      name: "{{ db_name }}"
      owner: "{{ db_user }}"
      state: present

  - name: Download SonarQube
    get_url:
      url: "https://binaries.sonarsource.com/Distribution/sonarqube/sonarqube-{{ sonar_version }}.zip"
      dest: "/tmp/sonarqube.zip"

  - name: Unzip SonarQube
    unarchive:
      src: "/tmp/sonarqube.zip"
      dest: /opt/
      remote_src: yes

  - name: Rename SonarQube directory
    command: mv /opt/sonarqube-{{ sonar_version }} /opt/sonarqube
    args:
      removes: /opt/sonarqube-{{ sonar_version }}

  - name: Configure SonarQube to use PostgreSQL
    lineinfile:
      path: /opt/sonarqube/conf/sonar.properties
      regexp: "{{ item.regexp }}"
      line: "{{ item.line }}"
    loop:
      - { regexp: '^#?sonar.jdbc.username=.*', line: "sonar.jdbc.username={{ db_user }}" }
      - { regexp: '^#?sonar.jdbc.password=.*', line: "sonar.jdbc.password={{ db_password }}" }
      - { regexp: '^#?sonar.jdbc.url=.*', line: "sonar.jdbc.url=jdbc:postgresql://localhost:5432/{{ db_name }}" }

  - name: Create SonarQube user
    user:
      name: sonar
      system: yes
      create_home: no
      shell: /bin/false

  - name: Change ownership of SonarQube folder
    file:
      path: /opt/sonarqube
      owner: sonar
      group: sonar
      state: directory
      recurse: yes

  - name: Create systemd service for SonarQube
    copy:
      dest: /etc/systemd/system/sonarqube.service
      content: |
        [Unit]
        Description=SonarQube service
        After=network.target postgresql.service

        [Service]
        Type=forking
        ExecStart=/opt/sonarqube/bin/linux-x86-64/sonar.sh start
        ExecStop=/opt/sonarqube/bin/linux-x86-64/sonar.sh stop
        User=sonar
        Group=sonar
        Restart=always
        LimitNOFILE=65536
        LimitNPROC=4096

        [Install]
        WantedBy=multi-user.target

  - name: Reload systemd
    systemd:
      daemon_reload: yes

  - name: Enable and start SonarQube service
    systemd:
      name: sonarqube
      enabled: yes
      state: started
